* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0px;
	padding: 0px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-up-page {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0 auto;

}

.img-container {
    width: 30%;
    height: 100%;
    position: relative;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;


}

.intro {
    height: 30%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.intro p {
    color: white;
    font-family: Caveat;
    font-size: 1.6em;
    position: absolute;
    top: 0.1em;
    left: 2em;
    max-width: 80%; 
}

.form {
    width: 100%;
    height: 40%;
    position: relative;
}

.form h2 {
    color: white;
    font-family: Caveat;
    font-size: 1.5em;
    position: absolute;
    left: 2em;
}


.form label {
    color: white;
    font-family: Caveat;
    font-size: 1.2em;
    display: block;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 4em;
    left: 2em;
}

form div {
    width: 40%;
    padding: 0.5em;
}

form input {
    width: 75%;
    height: 50%;
}

form input:focus {
    border: 2px solid lightskyblue;
    outline: none;
    box-shadow: 4px 4px 10px cyan;
}

form input[type='password']:not(:placeholder-shown):invalid {
    outline: none;
    border: 2px solid red;
}

.submit-form {
    width: 100%;
    height: 30%;
    padding-left: 2em;
}

.submit-form button {
    background-color: orangered;
    color: white;
    font-family: Caveat;
    padding: 0.8em 2em;
    border-radius: 1.2em;
    border: 2px solid white;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.submit-form p {
    color: white;
    font-family: Caveat;
    font-size: 1.5em;
}

.submit-form a {
    color: orangered;
    text-decoration: none;
}

#logo {
    height: 20%;
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid red;
    display: block;
}